name: Bloggy CD

on:
  push:
    branches: ["main"]

jobs:
   build-and-push:
     name: Build docker image and push to docker hub
     runs-on: ubuntu-latest
     env:
       IMAGE_NAME: rajyadav27/blog-app
       IMAGE_TAG: build-${{github.run_number}}
     steps:
       - name : Checkout the source code
         uses: actions/checkout@v4
       - name : Build docker image
         run : docker build -t ${{env.IMAGE_NAME}}:${{env.IMAGE_TAG}} --platform linux/amd64 .
       - name : Login into docker hub
         uses : docker/login-action@v3
         with :
           username: ${{secrets.DOCKERHUB_USERNAME}}
           password: ${{secrets.DOCKERHUB_PASSWORD}}
       - name : Push docker image to docker hub
         run : docker push ${{env.IMAGE_NAME}}:${{env.IMAGE_TAG}}
