name: Bloggy CD

on:
  push:
    branches: ["main"]

jobs:
  build-and-push:
    name: Build docker image and push to docker hub
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      IMAGE_NAME: rajyadav27/blog-app
      IMAGE_TAG: build-${{github.run_number}}
    steps:
      - name: Checkout the source code
        uses: actions/checkout@v4
        with:
          persist-credentials: true
      - name: Build docker image
        run: docker build -t ${{env.IMAGE_NAME}}:${{env.IMAGE_TAG}} --platform linux/amd64 .
      - name: Login into docker hub
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_PASSWORD}}
      - name: Push docker image to docker hub
        run: docker push ${{env.IMAGE_NAME}}:${{env.IMAGE_TAG}}
      - name: Update compose yaml
        uses: fjogeleit/yaml-update-action@main
        with:
          valueFile: compose.yaml
          propertyPath: "services[blog-server].image"
          value: ${{env.IMAGE_NAME}}:${{env.IMAGE_TAG}}
          commitChange: false
      - name: commit the changes
        run: |
          git config user.name github-actions
          git config user.email github-action@githun.com
          git add .
          git commit -m "bum the image version ${{env.IMAGE_TAG}}"
          git push

  deploy:
    name: Deploy the image to docker swarm cluster
    runs-on: ubuntu-lates
    env:
      IMAGE_NAME: rajyadav27/blog-app
      IMAGE_TAG: build-${{github.run_number}}
    steps:
      - name: SSH into the server
        uses: appleboy/ssh-action@v1
        with:
          host: ${{secrets.SWARM_MANAGER_HOST}}
          username: ${{secrets.SWARM_HOST_USERNAME}}
          key: ${{secrets.SWARM_HOST_SSH_KEY}}
          port: ${{secrets.SWARM_HOST_SSH_PORT}}
          script: |
            set -e
            cd  ~/bloggy


            # pull compose file using git
            git fetch origin main
            git checkout origin/main

            sudo docker pull ${{env.IMAGE_NAME}}:${{env.IMAGE_TAG}}
            sudo docker stack deploy -c compose.yaml bloggy
